* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}
html{
	overflow-x:hidden;
}
body{
	background: url(../img/groovepaper.png);
	background-position: center;
	height: 100%;
}
#main_container{
	max-width: 1440px;
	position: relative;
  	min-height: 100%;
	margin:auto;
}
h1 {
	width: 100%;
	margin-bottom: 18px;
	text-align: center;
	font: 44px Verdana;
	font-style: bold;
	color: #1c1c1c;
    letter-spacing: .05em;
    text-shadow: 
      1px 1px 0px #d5d5d5, 
      4px 4px 0px rgba(0, 0, 0, 0.2);
}
#login_cont{
	height: 25px;
	margin: 2px 0.66%;
}
#login_cont a{
	font-size: 20px;
	color: #000;
}
#login_cont a:hover{
	text-decoration: none;
}
.login_btn {
	float: right;
}
#add_btn {
	display: block;
	margin: 0 auto;
	border: 2px #307024 solid;
	margin-bottom: 10px;
	width: 300px;
	padding: 5px 0;
	font: 24px Verdana;
	text-decoration: none;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
	box-shadow: 0 2px 6px #000;
	background: #449E33;
}
#add_btn:hover {
	background: #60BA4F;
	box-shadow: 0 -2px 6px #000;
}
.one_book {
	border: 1px #696969 solid;
	margin: 10px 0.66%; 
	width: 32%;
	height: 254px;
	padding: 12px 1%;
	float: left;
	background: rgba(253,253,253,0.5);
	box-shadow: 2px -2px 4px #ccc;
}
.book_cover {
	height: 230px;
	width: 42%;
	margin: 0;
	float: left;
}
.book_cover img{
	height: 100%;
	max-width: 100%;
	float: left;
}
.book_info {
	float: left;
	width: 57%;
	height: 202px;
	padding: 2%;
	font-size: 18px;
	overflow-y: auto;
}
.book_info > b{
	font-size: 22px;
}
.book_info > p{
	margin: 6px 0;
}
.mod_btn_cont {
	float: left;
	width: 57%;
	height: 28px;
}
.mod_btn, .del_btn {
	display: block;
	text-decoration: none;
	width: 46%;
	height: 100%;
	margin-left: 4%; 
	float: left;
	text-align: center;
	padding: 3px;
	font: 16px Verdana;
	color: #fff;
	text-shadow: 1px 1px 3px #696969, -1px -1px 3px #696969;
	box-shadow: 0 2px 6px #000;
	border-radius: 3px;
}
.mod_btn{
	background: #B38000;
}
.del_btn{
	background: #82251C;
}
.mod_btn:hover {
	background: #D69900;
	box-shadow: 0 -2px 6px #000;
}
.del_btn:hover {
	background: #A82A1F;
	box-shadow: 0 -2px 6px #000;
}
.download_btn{
	display: block;
	text-decoration: none;
	border: 1px #307024 solid;
	width: 84%;
	margin: 0 8%; 
	text-align: center;
	padding: 3px;
	font: 18px Verdana;
	color: #fff;
	text-shadow: 1px 1px 3px #696969, -1px -1px 3px #696969;
	box-shadow: 0 2px 6px #000;
	background: #449E33;
}
.download_btn:hover {
	background: #60BA4F;
	box-shadow: 0 -2px 6px #000;
}


.new_form {
	max-width: 800px;
	margin: 0 auto;
}
.form_row{
	clear: both;
	height: 46px;
}
.form_header{
	text-align: center;
	font: 24px Verdana;
	margin-bottom: 15px;
}
.new_form label{
	display: block;
	width: 30%;
	height: 100%;
	float:left;
	font-size: 20px;
	text-align: right;
	padding-right: 10px;
	padding-top: 7px;
}
.new_form input{
	font: 20px Verdana;
	height: 30px;
	margin-top: 7px;
	outline: none;
}
.new_form button[type="submit"],
.new_form input[type="submit"]{
	font: 20px Verdana;
	border: 1px #fff solid;
	padding: 4px 7px;
	margin-left: 30%;
	margin-top: 9px;
	color: #fff;
	text-shadow: 1px 1px 3px #696969, -1px -1px 3px #696969;
	box-shadow: 0 2px 6px #000;
	background: #449E33;
	cursor: pointer;
}
.new_form button[type="submit"]:hover,
.new_form input[type="submit"]:hover {
	background: #60BA4F;
	box-shadow: 0 -2px 6px #000;
}
.new_form input[type="checkbox"] {
	transform: scale(1.5);
	margin-left: 3px;
}
.new_form input[type="text"],
.new_form input[type="password"] {
	padding: 0 5px;
}


@media screen and (min-width: 681px) and (max-width: 1280px) {
	.one_book {
		margin: 10px 0.5%; 
		width: 48%;
	}
}
@media screen and (min-width: 0px) and (max-width: 680px) {
	.one_book {
		width: 99%;
		margin: 10px 0.5%; 
	}
	.new_form label{
		width: 100%;
		text-align: center;
		height: 50%;
		display: block;
	}
	.new_form input {
		padding: 0 5px;
		margin: 0 auto;
		display: block;
	}
	.new_form input[type="checkbox"] {
		margin-left: 45%;
	}
	.form_row{
		height: 92px;
		margin-bottom: 10px;
	}
	.new_form button[type="submit"],
	.new_form input[type="submit"] {
		margin-left: 10%;
	}
}